@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .h-278 {
    height: 36rem;
  }
  .w-278 {
      width:50rem;
  }
   .w-300{
      width:60rem;
  }
}
.list-container{
  @apply grid grid-cols-1 bg-gray-300 gap-2 p-1 
}

.card-container{
    @apply h-24 w-full rounded shadow  overflow-hidden bg-purple-400 flex rounded flex-row text-gray-300 font-bold py-4
}
.card-Titre:md{
    @apply py-8
}
.card-Distance,.card-Favoris{
    @apply mt-6
}
.card-Titre{
    @apply 
}
.card-Distance{
    @apply  
}
.card-Favoris{
    @apply  
}
.card-Note{
    @apply 
}


#map{
    @apply h-278 w-278 bg-gray-200 m-auto
}

.magasinDetails{
     @apply  w-full bg-gray-200 mx-auto  w-full flex flex-col 
}
.magasinDetails:md{
     @apply w-300 flex flex-col my-5
}
.magasin-header{
    @apply h-32 w-full bg-purple-200
}
.magasin-header:md{
    @apply h-32 
}
.commentaires{
    @apply h-full bg-purple-700 py-2
}

.magasin-header{
    @apply flex flex-row justify-evenly items-center
}
.magasin-name{
    @apply 
}
.magasin-note{
    @apply hidden 
}
.favoris{
    @apply rounded h-24 py-1
}
.favoris-icon{
    @apply fill-current text-black h-6 w-4 
}
.favoris-icon:hover{
    @apply fill-current text-red-400 h-6 w-4 
}
.favoris-icon-liked{
    @apply fill-current text-red-400 h-4 w-4
}

.com-img{
    @apply rounded-full mx-auto
}

.com-body{
    @apply text-lg
}
.com-date{
    @apply text-gray-600 font-semibold
}